@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
.container {
    display: flex;
    justify-content: center;
}

button {
    background-color: black;
    color: #7C3AED;
    font-family: 'Staatliches', cursive;
    font-size: 100px;
    border-color: #7C3AED;
    border-width: 0px;
    width: 50px;
    height: 100px;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 20px;
}

button {
    transition-duration: .4s;
  }

button:hover {
    background-color: white;
    color: #7C3AED;
}

body {
    flex-direction: column;
    display: flex;
    /* background-color: rgb(0, 0, 0); */
    justify-content: center;
    background-image: url("Untitled-11.jpg");
    background-size: 50%;
}

/* Fonts */
.bigtext{
    font-family: 'Staatliches', cursive;
    text-align: center;
    border: 10px rgb(0, 0, 0) solid;
    color: black;
    border-radius: 40px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    justify-self: center;
}

.rainbow-lr {
    background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet);
    color:transparent;
    background-clip: text;
  }

.nftpics {
    height: 300px;
    width: 300px;
    margin: 3px;
}

a:link {
    text-decoration: none;
    color: #7C3AED;
}
a:visited {
    color: #7C3AED;
}
a:hover {
    color: white;
    transition-duration: .2s;
}
a:active {
    color: red;
}

.newThing {
    color: #67E9B9;
    
    
}
.newThing:hover {
    transition-duration: .2s;
    color: white;
    
}